* {
    box-sizing: border-box;
}

body {
    background-color: #121212; /* Cor de fundo escura */
    color: #ffffff; /* Texto branco */
    font-family: 'Montserrat', sans-serif; /* Fonte moderna */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    background-color: #1e1e1e; /* Fundo do container */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Sombra para profundidade */
}

h1 {
    color: #9c27b0; /* Roxo */
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #9c27b0; /* Roxo */
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

li:hover {
    background-color: #7b1fa2; /* Roxo mais escuro */
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}

.hidden {
    display: none;
}

#person-info {
    background-color: #9c27b0; /* Roxo */
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

button {
    background-color: #f44336; /* Vermelho */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #d32f2f; /* Vermelho mais escuro */
}
